<div class="v-footer-container">
  <div class="v-footer-top">
    <div class="v-footer-left">
      <div class="v-footer-menu">
        <div class="v-footer-menu-title">Learn CSS</div>
        <div class="v-footer-menu-item">Home</div>
        <div class="v-footer-menu-item">Learn Tip</div>
        <div class="v-footer-menu-item">Interview Question</div>
        <div class="v-footer-menu-item">Blog</div>
        <div class="v-footer-menu-item">Contact</div>
      </div>
    </div>

    <div class="v-footer-center"></div>

    <div class="v-footer-right"></div>
  </div>
  <div class="v-footer-bottom">
    <div class="v-footer-copyright">
      Copyright © 2021 LearnCSS.
    </div>
  </div>
</div>
