* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}

html {
  font-size: 14px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  box-sizing: border-box !important;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}

body > * {
  box-sizing: border-box !important;
}
@import url('./variable.scss');
